.ll-tree-node .uk-icon:not(.uk-preserve) [stroke*='#']:not(.uk-preserve) {
    stroke: transparent !important;
}

.ll-tree-node:hover .uk-icon:not(.uk-preserve) [stroke*='#']:not(.uk-preserve) {
    stroke: currentcolor !important;
}

.ll-taxonselect-displayname {
    cursor: text;
}

.ll-taxonselect-results {
    margin: 0;
    padding: 0;
}

.ll-taxonselect-results li {
    cursor: pointer;
    display: block;
    background: #fff;
    color: #666;
    border: 1px solid #e5e5e5;
    padding: 10px 10px;
}

.ll-taxonselect-results li:not(:first-child) {
    border-top-width: 0;
}

.ll-taxonselect-results li:hover {
    background-color: #f8f8f8;
}
