{% extends './base.html' %}

{% block content %}
<ul class="uk-breadcrumb">
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'accession-list' %}">Accessions</a></li>
    <li><span>{{ object.accnum }}</span></li>
</ul>

<h1>Delete accession {{ object.accnum }}</h1>
<p>
    Are you sure you want to delete {{ object.accnum }} ({{ object.taxon.get_name_display|safe }})?
    This will also delete all associated images and events.
</p>

<form action="{% url 'accession-delete' pk=object.id %}" method="post">
    {% csrf_token %}
    <a class="uk-button uk-button-default" href="{% url 'accession-list' %}">Cancel</a>
    <input class="uk-button uk-button-danger" type="submit" value="Delete" />
</form>

{% endblock %}
