{% extends './base.html' %}

{% block content %}

<ul class="uk-breadcrumb">
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><span>Locations</span></li>
</ul>

<h1>Locations</h1>

<a class="uk-button uk-button-primary" href="{% url 'location-create' %}">New location</a>

<table class="uk-table uk-table-middle uk-table-small uk-table-divider uk-table-justify">
    <thead>
        <tr>
            <th>Location</th>
            <th class="uk-table-shrink">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for location in object_list %}
        <tr>
            <td><a href="{% url 'location-detail' slug=location.slug %}">{{ location.name }}</td>
            <td class="uk-table-shrink uk-text-nowrap">
                <a class="uk-icon-button" href="{% url 'location-update' slug=location.slug %}" uk-icon="pencil"></a>
                <a class="uk-icon-button" href="{% url 'location-delete' slug=location.slug %}" uk-icon="close"></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
