{% extends './base.html' %}

{% block content %}
<ul class="uk-breadcrumb">
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'location-list' %}">Locations</a></li>
    <li><span>{{ object.name }}</span></li>
</ul>

<h1>Delete {{ object.name }}</h1>
<p>Are you sure you want to delete {{ object.name }}?</p>

<form action="{% url 'location-delete' slug=object.slug %}" method="post">
    {% csrf_token %}
    <a class="uk-button uk-button-default" href="{% url 'location-list' %}">Cancel</a>
    <input class="uk-button uk-button-danger" type="submit" value="Delete" />
</form>

{% endblock %}
