{% extends './base.html' %}

{% block content %}
<ul class="uk-breadcrumb">
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'taxon-list' %}">Taxa</a></li>
    <li><span>{{ object.get_name_display|safe }}</span></li>
</ul>

<h1>{{ object.get_name_display|safe }}</h1>

<div>
    <a class="uk-button uk-button-primary" href="{% url 'taxon-create' %}?parent={{ taxon.id }}">Create subtaxon</a>
    <a class="uk-button uk-button-primary" href="{% url 'taxon-update' pk=object.id %}">Edit taxon</a>
    <a class="uk-button uk-button-danger" href="{% url 'taxon-delete' pk=object.id %}">Delete taxon</a>
</div>

{% endblock %}
